In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [94]:
# 타이타닉 Train.csv 파일 데이터 전처리
train_df = pd.read_csv("train.csv")

#Name(이름), Ticket(티켓번호), Cabin 데이터는 생존률에 영향이 거의 없는것으로 간주하고 데이터 삭제
train_df = train_df.dropna(axis=1)
train_df = train_df.drop(['PassengerId','Name','Ticket','Fare'],axis=1)
from sklearn.preprocessing import LabelEncoder

# sklearn은 숫자형 데이터를 지원하기 때문에 object형의 데이터를 인코딩한다
# sklearn의 LabelEncoder 함수 이용 

encoder = LabelEncoder().fit(train_df.loc[:,'Sex'])
train_df.loc[:,'Sex'] = encoder.transform(train_df.loc[:,'Sex'])
#display(train_df)


#모델 학습
from sklearn.ensemble import RandomForestClassifier
display(train_df.drop(['Survived'], axis=1))
target = train_df[['Survived']].to_numpy() #target 설정
train_data = train_df.drop(['Survived'], axis=1).to_numpy() #target을 제외한 모든 열 선택
rf = RandomForestClassifier(n_estimators=1000,random_state=1).fit(train_data,target)

     Pclass  Sex  SibSp  Parch
0         3    1      1      0
1         1    0      1      0
2         3    0      0      0
3         1    0      1      0
4         3    1      0      0
..      ...  ...    ...    ...
886       2    1      0      0
887       1    0      0      0
888       3    0      1      2
889       1    1      0      0
890       3    1      0      0

[891 rows x 4 columns]

<ipython-input-94-53c2abc98bdb>:22: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf = RandomForestClassifier(n_estimators=1000,random_state=1).fit(train_data,target)

In [86]:
test_data = pd.read_csv("test.csv")
test_data = test_data.dropna(axis=1)
test_data = test_data.drop(['PassengerId','Name','Ticket','Embarked'],axis=1)
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder().fit(test_data.loc[:,'Sex'])
test_data.loc[:,'Sex'] = encoder.transform(test_data.loc[:,'Sex'])
display(test_data)
test_data = test_data.to_numpy()

#print(rf.predict(test_data))
print(rf.score(train_data,target))

     Pclass  Sex  SibSp  Parch
0         3    1      0      0
1         3    0      1      0
2         2    1      0      0
3         3    1      0      0
4         3    0      1      1
..      ...  ...    ...    ...
413       3    1      0      0
414       1    0      0      0
415       3    1      0      0
416       3    1      0      0
417       3    1      1      1

[418 rows x 4 columns]

0.8170594837261503

In [93]:
test_target = pd.read_csv('gender_submission.csv')
test_target = test_target.iloc[:,1]
#display(test_target)

print("훈련데이터: ",rf.score(train_data,target))
print("테스트데이터: ",rf.score(test_data,test_target))

훈련데이터:  0.8170594837261503
테스트데이터:  0.9138755980861244

In [84]:
test_df = pd.read_csv("test.csv")

print(test_df.iloc[:,0].shape)
print(rf.predict(test_data).shape)

result = {
    'PassengerId' : test_df.iloc[:,0],
    'Survived' : rf.predict(test_data)
}

result = pd.DataFrame(result)
display(result) 

result.to_csv('result.csv',index=False)

(418,)
(418,)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [16]:
print(train_df.loc[:,'Sex'])
# pandas DataFrame은 R과 다르게 loc, iloc 함수를 통해 행과 열을 선택함, 열선택시 loc는 문자열 iloc는 인덱스 전달

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object